<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>

    <typeAliases>
        <!-- DTO Alias -->
        <typeAlias type="com.app.springapp.domain.dto.UserDTO" alias="UserDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.ManagerDTO" alias="ManagerDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.SocialUserDTO" alias="SocialUserDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.FollowDTO" alias="FollowDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.FollowTypeDTO" alias="FollowTypeDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.UserBlockDTO" alias="UserBlockDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.UserBadgeDTO" alias="UserBadgeDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.UserAttendanceDTO" alias="UserAttendanceDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.PostDTO" alias="PostDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.PostFileDTO" alias="PostFileDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.PostLikeDTO" alias="PostLikeDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.PostReportDTO" alias="PostReportDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.CommentDTO" alias="CommentDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.CommentLikeDTO" alias="CommentLikeDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.CommentReportDTO" alias="CommentReportDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.ChatDTO" alias="ChatDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.ChatRoomDTO" alias="ChatRoomDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.ChatUserDTO" alias="ChatUserDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.ChatRoomReportDTO" alias="ChatRoomReportDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.QuizDTO" alias="QuizDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.QuizChoiceDTO" alias="QuizChoiceDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.QuizQuestionDTO" alias="QuizQuestionDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.QuizAttemptDTO" alias="QuizAttemptDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.QuizAttemptDetailDTO" alias="QuizAttemptDetailDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.QuizEduDTO" alias="QuizEduDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.WordsDTO" alias="WordsDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.WordStudyDTO" alias="WordStudyDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.EduDTO" alias="EduDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.EduVideoDTO" alias="EduVideoDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.EduStartDTO" alias="EduStartDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.EduCertDTO" alias="EduCertDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.EduWordMapDTO" alias="EduWordMapDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.TodayWordDTO" alias="TodayWordDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.TodayWordDetailDTO" alias="TodayWordDetailDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.TodayWordResultDTO" alias="TodayWordResultDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.BadgeDTO" alias="BadgeDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.NoticeDTO" alias="NoticeDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.NotificationDTO" alias="NotificationDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.ReportDTO" alias="ReportDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.ReportTypeDTO" alias="ReportTypeDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.ReportResultDTO" alias="ReportResultDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.TestDTO" alias="TestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.TestResultDTO" alias="TestResultDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.TestApplyDTO" alias="TestApplyDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.SettingDTO" alias="SettingDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.JwtTokenDTO" alias="JwtTokenDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.AiChatDTO" alias="AiChatDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.CertRenewDTO" alias="CertRenewDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.UserReportDTO" alias="UserReportDTO"/>

        <!-- Request DTO Alias -->
        <typeAlias type="com.app.springapp.domain.dto.request.UserRequestDTO" alias="UserRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.UserBadgeRequestDTO" alias="UserBadgeRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.UserBlockRequestDTO" alias="UserBlockRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.UserReportRequestDTO" alias="UserReportRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.ManagerRequestDTO" alias="ManagerRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.SocialUserRequestDTO" alias="SocialUserRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.FollowRequestDTO" alias="FollowRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.FollowTypeRequestDTO" alias="FollowTypeRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.PostRequestDTO" alias="PostRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.PostFileRequestDTO" alias="PostFileRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.PostLikeRequestDTO" alias="PostLikeRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.PostReportRequestDTO" alias="PostReportRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.CommentRequestDTO" alias="CommentRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.CommentLikeRequestDTO" alias="CommentLikeRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.CommentReportRequestDTO" alias="CommentReportRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.ChatRequestDTO" alias="ChatRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.ChatRoomRequestDTO" alias="ChatRoomRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.ChatUserRequestDTO" alias="ChatUserRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.ChatRoomReportRequestDTO" alias="ChatRoomReportRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.QuizRequestDTO" alias="QuizRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.QuizChoiceRequestDTO" alias="QuizChoiceRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.QuizQuestionRequestDTO" alias="QuizQuestionRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.QuizAttemptRequestDTO" alias="QuizAttemptRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.QuizAttemptDetailRequestDTO" alias="QuizAttemptDetailRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.QuizEduRequestDTO" alias="QuizEduRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.WordsRequestDTO" alias="WordsRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.WordStudyRequestDTO" alias="WordStudyRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.EduRequestDTO" alias="EduRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.EduVideoRequestDTO" alias="EduVideoRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.EduStartRequestDTO" alias="EduStartRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.EduCertRequestDTO" alias="EduCertRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.EduWordMapRequestDTO" alias="EduWordMapRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.TodayWordRequestDTO" alias="TodayWordRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.TodayWordDetailRequestDTO" alias="TodayWordDetailRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.TodayWordResultRequestDTO" alias="TodayWordResultRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.BadgeRequestDTO" alias="BadgeRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.NoticeRequestDTO" alias="NoticeRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.ReportRequestDTO" alias="ReportRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.ReportTypeRequestDTO" alias="ReportTypeRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.ReportResultRequestDTO" alias="ReportResultRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.TestRequestDTO" alias="TestRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.TestResultRequestDTO" alias="TestResultRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.TestApplyRequestDTO" alias="TestApplyRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.SettingRequestDTO" alias="SettingRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.AiChatRequestDTO" alias="AiChatRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.CertRenewRequestDTO" alias="CertRenewRequestDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.request.VerificationRequestDTO" alias="VerificationRequestDTO"/>

        <!-- Response DTO Alias -->
        <typeAlias type="com.app.springapp.domain.dto.response.UserResponseDTO" alias="UserResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.UserBadgeResponseDTO" alias="UserBadgeResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.UserBlockResponseDTO" alias="UserBlockResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.UserAttendanceResponseDTO" alias="UserAttendanceResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.UserReportResponseDTO" alias="UserReportResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.ManagerResponseDTO" alias="ManagerResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.SocialUserResponseDTO" alias="SocialUserResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.FollowResponseDTO" alias="FollowResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.FollowTypeResponseDTO" alias="FollowTypeResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.PostResponseDTO" alias="PostResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.PostFileResponseDTO" alias="PostFileResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.PostLikeResponseDTO" alias="PostLikeResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.PostReportResponseDTO" alias="PostReportResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.CommentResponseDTO" alias="CommentResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.CommentLikeResponseDTO" alias="CommentLikeResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.CommentReportResponseDTO" alias="CommentReportResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.ChatResponseDTO" alias="ChatResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.ChatRoomResponseDTO" alias="ChatRoomResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.ChatUserResponseDTO" alias="ChatUserResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.ChatRoomReportResponseDTO" alias="ChatRoomReportResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.QuizResponseDTO" alias="QuizResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.QuizChoiceResponseDTO" alias="QuizChoiceResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.QuizQuestionResponseDTO" alias="QuizQuestionResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.QuizAttemptResponseDTO" alias="QuizAttemptResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.QuizAttemptDetailResponseDTO" alias="QuizAttemptDetailResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.QuizEduResponseDTO" alias="QuizEduResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.WordsResponseDTO" alias="WordsResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.WordStudyResponseDTO" alias="WordStudyResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.EduResponseDTO" alias="EduResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.EduVideoResponseDTO" alias="EduVideoResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.EduStartResponseDTO" alias="EduStartResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.EduCertResponseDTO" alias="EduCertResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.EduWordMapResponseDTO" alias="EduWordMapResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.TodayWordResponseDTO" alias="TodayWordResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.TodayWordDetailResponseDTO" alias="TodayWordDetailResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.TodayWordResultResponseDTO" alias="TodayWordResultResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.BadgeResponseDTO" alias="BadgeResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.NoticeResponseDTO" alias="NoticeResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.NotificationResponseDTO" alias="NotificationResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.ReportResponseDTO" alias="ReportResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.ReportTypeResponseDTO" alias="ReportTypeResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.ReportResultResponseDTO" alias="ReportResultResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.TestResponseDTO" alias="TestResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.TestResultResponseDTO" alias="TestResultResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.TestApplyResponseDTO" alias="TestApplyResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.SettingResponseDTO" alias="SettingResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.AiChatResponseDTO" alias="AiChatResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.CertRenewResponseDTO" alias="CertRenewResponseDTO"/>
        <typeAlias type="com.app.springapp.domain.dto.response.ApiResponseDTO" alias="ApiResponseDTO"/>

        <!-- VO Alias -->
        <typeAlias type="com.app.springapp.domain.vo.UserVO" alias="UserVO"/>
        <typeAlias type="com.app.springapp.domain.vo.SocialUserVO" alias="SocialUserVO"/>
        <typeAlias type="com.app.springapp.domain.vo.ManagerVO" alias="ManagerVO"/>
        <typeAlias type="com.app.springapp.domain.vo.FollowVO" alias="FollowVO"/>
        <typeAlias type="com.app.springapp.domain.vo.FollowTypeVO" alias="FollowTypeVO"/>
        <typeAlias type="com.app.springapp.domain.vo.UserBlockVO" alias="UserBlockVO"/>
        <typeAlias type="com.app.springapp.domain.vo.UserBadgeVO" alias="UserBadgeVO"/>
        <typeAlias type="com.app.springapp.domain.vo.UserAttendanceVO" alias="UserAttendanceVO"/>
        <typeAlias type="com.app.springapp.domain.vo.UserReportVO" alias="UserReportVO"/>
        <typeAlias type="com.app.springapp.domain.vo.PostVO" alias="PostVO"/>
        <typeAlias type="com.app.springapp.domain.vo.PostFileVO" alias="PostFileVO"/>
        <typeAlias type="com.app.springapp.domain.vo.PostLikeVO" alias="PostLikeVO"/>
        <typeAlias type="com.app.springapp.domain.vo.PostReportVO" alias="PostReportVO"/>
        <typeAlias type="com.app.springapp.domain.vo.CommentVO" alias="CommentVO"/>
        <typeAlias type="com.app.springapp.domain.vo.CommentLikeVO" alias="CommentLikeVO"/>
        <typeAlias type="com.app.springapp.domain.vo.CommentReportVO" alias="CommentReportVO"/>
        <typeAlias type="com.app.springapp.domain.vo.ChatVO" alias="ChatVO"/>
        <typeAlias type="com.app.springapp.domain.vo.ChatRoomVO" alias="ChatRoomVO"/>
        <typeAlias type="com.app.springapp.domain.vo.ChatUserVO" alias="ChatUserVO"/>
        <typeAlias type="com.app.springapp.domain.vo.ChatRoomReportVO" alias="ChatRoomReportVO"/>
        <typeAlias type="com.app.springapp.domain.vo.QuizVO" alias="QuizVO"/>
        <typeAlias type="com.app.springapp.domain.vo.QuizChoiceVO" alias="QuizChoiceVO"/>
        <typeAlias type="com.app.springapp.domain.vo.QuizQuestionVO" alias="QuizQuestionVO"/>
        <typeAlias type="com.app.springapp.domain.vo.QuizAttemptVO" alias="QuizAttemptVO"/>
        <typeAlias type="com.app.springapp.domain.vo.QuizAttemptDetailVO" alias="QuizAttemptDetailVO"/>
        <typeAlias type="com.app.springapp.domain.vo.QuizEduVO" alias="QuizEduVO"/>
        <typeAlias type="com.app.springapp.domain.vo.WordsVO" alias="WordsVO"/>
        <typeAlias type="com.app.springapp.domain.vo.WordStudyVO" alias="WordStudyVO"/>
        <typeAlias type="com.app.springapp.domain.vo.EduVO" alias="EduVO"/>
        <typeAlias type="com.app.springapp.domain.vo.EduVideoVO" alias="EduVideoVO"/>
        <typeAlias type="com.app.springapp.domain.vo.EduStartVO" alias="EduStartVO"/>
        <typeAlias type="com.app.springapp.domain.vo.EduCertVO" alias="EduCertVO"/>
        <typeAlias type="com.app.springapp.domain.vo.EduWordMapVO" alias="EduWordMapVO"/>
        <typeAlias type="com.app.springapp.domain.vo.TodayWordVO" alias="TodayWordVO"/>
        <typeAlias type="com.app.springapp.domain.vo.TodayWordDetailVO" alias="TodayWordDetailVO"/>
        <typeAlias type="com.app.springapp.domain.vo.TodayWordResultVO" alias="TodayWordResultVO"/>
        <typeAlias type="com.app.springapp.domain.vo.BadgeVO" alias="BadgeVO"/>
        <typeAlias type="com.app.springapp.domain.vo.NoticeVO" alias="NoticeVO"/>
        <typeAlias type="com.app.springapp.domain.vo.NotificationVO" alias="NotificationVO"/>
        <typeAlias type="com.app.springapp.domain.vo.ReportVO" alias="ReportVO"/>
        <typeAlias type="com.app.springapp.domain.vo.ReportTypeVO" alias="ReportTypeVO"/>
        <typeAlias type="com.app.springapp.domain.vo.ReportResultVO" alias="ReportResultVO"/>
        <typeAlias type="com.app.springapp.domain.vo.TestVO" alias="TestVO"/>
        <typeAlias type="com.app.springapp.domain.vo.TestResultVO" alias="TestResultVO"/>
        <typeAlias type="com.app.springapp.domain.vo.TestApplyVO" alias="TestApplyVO"/>
        <typeAlias type="com.app.springapp.domain.vo.SettingVO" alias="SettingVO"/>
        <typeAlias type="com.app.springapp.domain.vo.AiChatVO" alias="AiChatVO"/>
        <typeAlias type="com.app.springapp.domain.vo.CertRenewVO" alias="CertRenewVO"/>
    </typeAliases>
</configuration>