<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.springapp.mapper.ChatRoomMapper">
    <select id="select" parameterType="Long" resultType="ChatRoomDTO">
        SELECT TBC.ID, TBC.CHAT_ROOM_NAME, TBC.CHAT_ROOM_TYPE, TBC.CHAT_ROOM_CREATE_AT, TBC.CHAT_ROOM_PROFILE, TBC.USER_ID, TBC.CHAT_ROOM_IS_DELETED, TBC.CHAT_ROOM_DETAIL, TBC.CHAT_ROOM_LIMIT,
               TBU.CHAT_ROOM_USERS
        FROM TBL_CHAT_ROOM TBC
        JOIN (
            SELECT CHAT_ROOM_ID, COUNT(CHAT_ROOM_ID) AS CHAT_ROOM_USERS
            FROM TBL_CHAT_USER
            GROUP BY CHAT_ROOM_ID
        ) TBU ON TBC.ID = TBU.CHAT_ROOM_ID
        WHERE TBC.CHAT_ROOM_IS_DELETED = 0
        <if test="id != null">
            AND TBC.ID = #{id}
        </if>
        ORDER BY TBC.ID DESC
    </select>

    <select id="selectAllWithPaging" parameterType="map" resultType="ChatRoomDTO">
        SELECT TBC.ID, TBC.CHAT_ROOM_NAME, TBC.CHAT_ROOM_TYPE, TBC.CHAT_ROOM_CREATE_AT, TBC.CHAT_ROOM_PROFILE, TBC.USER_ID, TBC.CHAT_ROOM_IS_DELETED, TBC.CHAT_ROOM_DETAIL, TBC.CHAT_ROOM_LIMIT,
               TBU.CHAT_ROOM_USERS
        FROM TBL_CHAT_ROOM TBC
        JOIN (
            SELECT CHAT_ROOM_ID, COUNT(CHAT_ROOM_ID) AS CHAT_ROOM_USERS
            FROM TBL_CHAT_USER
            GROUP BY CHAT_ROOM_ID
        ) TBU ON TBC.ID = TBU.CHAT_ROOM_ID
        WHERE TBC.CHAT_ROOM_IS_DELETED = 0
        <if test="keyword != null and keyword != ''">
            AND (TBC.CHAT_ROOM_NAME LIKE '%' || #{keyword} || '%'
            OR TBC.CHAT_ROOM_DETAIL LIKE '%' || #{keyword} || '%')
        </if>
        ORDER BY TBC.ID DESC
        OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY
    </select>

    <select id="selectCount" resultType="int">
        SELECT COUNT(*)
        FROM TBL_CHAT_ROOM
    </select>

    <select id="selectByUserId" parameterType="map" resultType="ChatRoomDTO">
        SELECT
            VCR.ID, VCR.CHAT_ROOM_NAME, VCR.CHAT_ROOM_DETAIL, VCR.CHAT_ROOM_TYPE, VCR.CHAT_ROOM_CREATE_AT,
            VCR.CHAT_ROOM_PROFILE, VCR.CHAT_ROOM_LIMIT, VCR.CHAT_ROOM_IS_DELETED, VCR.CHAT_ROOM_USERS,
            TCU.CHAT_START_AT, TCU.CHAT_LAST_READ_AT, TCU.USER_ID
        FROM VW_CHAT_ROOM VCR
        JOIN TBL_CHAT_USER TCU ON VCR.ID = TCU.CHAT_ROOM_ID
        WHERE TCU.USER_ID = #{userId} AND VCR.CHAT_ROOM_IS_DELETED = 0
        ORDER BY TCU.CHAT_LAST_READ_AT DESC
        OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY
    </select>

    <insert id="insert" parameterType="ChatRoomVO">
        <selectKey keyProperty="id" resultType="Long" order="BEFORE">
            SELECT SEQ_CHAT_ROOM.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_CHAT_ROOM (ID, CHAT_ROOM_NAME, CHAT_ROOM_TYPE, CHAT_ROOM_PROFILE, USER_ID, CHAT_ROOM_DETAIL, CHAT_ROOM_LIMIT)
        VALUES (#{id}, #{chatRoomName}, #{chatRoomType}, #{chatRoomProfile}, #{userId}, #{chatRoomDetail}, #{chatRoomLimit})
    </insert>

    <update id="update" parameterType="ChatRoomVO">
        UPDATE TBL_CHAT_ROOM
        SET CHAT_ROOM_NAME = #{chatRoomName}, CHAT_ROOM_DETAIL = #{chatRoomDetail}, CHAT_ROOM_LIMIT = #{chatRoomLimit}, CHAT_ROOM_PROFILE = #{chatRoomProfile}
        WHERE ID = #{id} AND USER_ID = #{userId}
    </update>

    <update id="updateChatRoomIsDeleteById" parameterType="ChatRoomVO">
        UPDATE TBL_CHAT_ROOM
        SET CHAT_ROOM_IS_DELETED = 1
        WHERE ID = #{id} AND USER_ID = #{userId}
    </update>
</mapper>