<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.springapp.mapper.CommentReportMapper">
    <insert id="insert" parameterType="CommentReportVO">
        <selectKey keyProperty="id" resultType="Long" order="BEFORE">
            SELECT SEQ_COMMENT_REPORT.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_COMMENT_REPORT (ID, COMMENT_REPORT_TITLE, COMMENT_REPORT_DETAIL, USER_ID, COMMENT_ID)
        VALUES (#{id}, #{commentReportTitle}, #{commentReportDetail}, #{userId}, #{commentId})
    </insert>

</mapper>