<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.springapp.mapper.SettingMapper">

    <!-- 회원 설정 조회 -->
    <select id="selectByUserId" parameterType="Long" resultType="SettingDTO">
        SELECT
            ID AS id,
            SETTING_REPLY AS settingReply,
            SETTING_GOOD AS settingGood,
            SETTING_BULLETIN AS settingBulletin,
            SETTING_STUDY AS settingStudy,
            SETTING_EMAIL_PUSH AS settingEmailPush,
            SETTING_POST_OPEN AS settingPostOpen,
            SETTING_SIGN_DEFAULT AS settingSignDefault,
            SETTING_BRAILLE_TRANSLATE AS settingBrailleTranslate,
            SETTING_AUTO_SCROLL AS settingAutoScroll,
            SETTING_PUSH_NOTIFY AS settingPushNotify,
            SETTING_MENTION_NOTIFY AS settingMentionNotify,
            USER_ID AS userId
        FROM TBL_SETTING
        WHERE USER_ID = #{userId}
    </select>

    <!-- 회원 기본 설정 생성 -->
    <insert id="insertDefault" parameterType="SettingVO">
        <selectKey keyProperty="id" resultType="Long" order="BEFORE">
            SELECT SEQ_SETTING.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_SETTING (
        ID,
        USER_ID
        ) VALUES (
        #{id},
        #{userId}
        )
    </insert>

    <!-- 회원 설정 수정 -->
    <update id="updateByUserId" parameterType="map">
        UPDATE TBL_SETTING
        SET SETTING_REPLY = #{requestDTO.settingReply},
            SETTING_GOOD = #{requestDTO.settingGood},
            SETTING_BULLETIN = #{requestDTO.settingBulletin},
            SETTING_STUDY = #{requestDTO.settingStudy},
            SETTING_EMAIL_PUSH = #{requestDTO.settingEmailPush},
            SETTING_POST_OPEN = #{requestDTO.settingPostOpen},
            SETTING_SIGN_DEFAULT = #{requestDTO.settingSignDefault},
            SETTING_BRAILLE_TRANSLATE = #{requestDTO.settingBrailleTranslate},
            SETTING_AUTO_SCROLL = #{requestDTO.settingAutoScroll},
            SETTING_PUSH_NOTIFY = #{requestDTO.settingPushNotify},
            SETTING_MENTION_NOTIFY = #{requestDTO.settingMentionNotify}
        WHERE USER_ID = #{userId}
    </update>

</mapper>