<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.springapp.mapper.WordStudyMapper">

    <!-- 단어 학습 기록 등록 -->
    <insert id="insert" parameterType="WordStudyVO">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
            SELECT SEQ_WORD_STUDY.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_WORD_STUDY(ID, WORD_STUDY_IS_COMPLETED, EDU_WORD_MAP_ID, USER_ID)
        VALUES(#{id}, #{wordStudyIsCompleted}, #{eduWordMapId}, #{userId})
    </insert>

    <!-- 단어 학습 기록 조회 -->
    <select id="select" resultType="WordStudyResponseDTO">
        SELECT ID, WORD_STUDY_CREATE_AT, WORD_STUDY_UPDATE_AT, WORD_STUDY_IS_COMPLETED, EDU_WORD_MAP_ID, USER_ID
        FROM TBL_WORD_STUDY
        WHERE USER_ID = #{userId}
          AND EDU_WORD_MAP_ID = #{eduWordMapId}
    </select>

    <!-- 학습별 완료 단어 개수 조회 -->
    <select id="countCompletedByEduId" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM TBL_WORD_STUDY TWS
        JOIN TBL_EDU_WORD_MAP TEWM
            ON TWS.EDU_WORD_MAP_ID = TEWM.ID
        WHERE TWS.USER_ID = #{userId}
          AND TEWM.EDU_ID = #{eduId}
          AND TWS.WORD_STUDY_IS_COMPLETED = 1
    </select>

    <!-- 학습별 전체 단어 개수 조회 -->
    <select id="countTotalByEduId" parameterType="Long" resultType="int">
        SELECT COUNT(*)
        FROM TBL_EDU_WORD_MAP
        WHERE EDU_ID = #{eduId}
    </select>

    <!-- 단어 학습 완료 상태 수정 -->
    <update id="update" parameterType="WordStudyVO">
        UPDATE TBL_WORD_STUDY
        SET WORD_STUDY_IS_COMPLETED = #{wordStudyIsCompleted}, WORD_STUDY_UPDATE_AT = CURRENT_TIMESTAMP
        WHERE USER_ID = #{userId}
          AND EDU_WORD_MAP_ID = #{eduWordMapId}
    </update>
</mapper>