<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.springapp.mapper.WordsMapper">

    <!-- 학습별 단어 목록 조회 -->
    <select id="selectByEduId" parameterType="Long" resultType="WordsResponseDTO">
        SELECT TBW.ID, TBW.WORDS_TITLE, TBW.WORDS_DETAIL, TBW.WORDS_IMAGE, TBW.WORDS_TYPE, TBW.EDU_VIDEO_ID
        FROM TBL_EDU_WORD_MAP TEWM
        JOIN TBL_WORDS TBW
            ON TEWM.WORDS_ID = TBW.ID
        WHERE TEWM.EDU_ID = #{eduId}
        ORDER BY TEWM.ID ASC
    </select>

    <!-- 단어 상세 조회 -->
    <select id="select" parameterType="Long" resultType="WordsResponseDTO">
        SELECT ID, WORDS_TITLE, WORDS_DETAIL, WORDS_IMAGE, WORDS_TYPE, EDU_VIDEO_ID
        FROM TBL_WORDS
        WHERE ID = #{id}
    </select>

</mapper>